<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <script src="jquery.js"></script>
    </head>
    <body>

        <p>

            Hello World

        </p>

    </body>


</html>